$include /etc/inputrc
set bell-style                      none
set bind-tty-special-chars			off # new
set blink-matching-paren            on
set colored-completion-prefix		on # new
set colored-stats                   on
set completion-ignore-case          off
set completion-prefix-display-length 2 # new
set editing-mode					emacs
set enable-bracketed-paste          on
set expand-tilde					off
set mark-directories				on
set mark-modified-lines				off # new
set mark-symlinked-directories      on
set match-hidden-files              off
set menu-complete-display-prefix    on
set show-all-if-ambiguous           off #
set show-all-if-unmodified          on
set skip-completed-text             off #
set visible-stats					off # new

# Use Up/Down for partial history search
"\e[B": history-search-forward
"\e[A": history-search-backward

# M-F11 to null (nested tmux config)
"\033[24;3~": ""
# Not sure what key this is (nested tmux config)
"\033[5;7~": ""

# M-F11 to null (nested tmux config)
"\033[23;3~": ""

# # C-PgUp to null
# "\033[5;5~": ""
# # C-PgDown to null
# "\033[6;5~": ""
# 
# # C-M-PgUp to null
# "\033[5;7~": ""
# # C-M-PgDown to null
# "\033[6;7~": ""
# 
# # C-M-S-PgUp to null
# "\033[5;8~": ""
# # C-M-S-PgDown to null
# "\033[6;8~": ""
# 
# # C-S-PgUp to null
# "\033[5;6~": ""
# # C-S-PgDown to null
# "\033[6;6~": ""
# 
# # M-PgUp to null
# "\033[5;3~": ""
# # M-PgDown to null
# "\033[6;3~": ""
# 
# # M-S-PgUp to null
# "\033[5;4~": ""
# # M-S-PgDown to null
# "\033[6;4~": ""
# 
# # S-PgUp to null
# "\033[5;2~": ""
# # S-PgDown to null
# "\033[6;2~": ""
# 
# # C-M-Up to null
# "\033[1;7A": ""
# # C-M-Down to null
# "\033[1;7B": ""
# # C-M-Right to null
# "\033[1;7C": ""
# # C-M-Left to null
# "\033[1;7D": ""
# 
# # C-M-S-Up to null
# "\033[1;8A": ""
# # C-M-S-Down to null
# "\033[1;8B": ""
# # C-M-S-Right to null
# "\033[1;8C": ""
# # C-M-S-Left to null
# "\033[1;8D": ""
# 
# # C-S-Up to null
# "\033[1;6A": ""
# # C-S-Down to null
# "\033[1;6B": ""
# 
# # M-Up to null
# "\033[1;3A": ""
# # M-Down to null
# "\033[1;3B": ""
# # M-Right to null
# "\033[1;3C": ""
# # M-Left to null
# "\033[1;3D": ""
# 
# # M-S-Up to null
# "\033[1;4A": ""
# # M-S-Down to null
# "\033[1;4B": ""
# # M-S-Right to null
# "\033[1;4C": ""
# # M-S-Left to null
# "\033[1;4D": ""
# 
# # S-Up to null
# "\033[1;2A": ""
# # S-Down to null
# "\033[1;2B": ""
# # S-Right to null
# "\033[1;2C": ""
# # S-Left to null
# "\033[1;2D": ""
# 
# # C-Del to null
# "\033[3;5~": ""
# # M-Del to Delete Next Word Forward
# "\033[3;3~": shell-kill-word
# # S-Del to null
# "\033[3;2~": ""
# 
# # M-Ins to null
# "\033[2;3~": ""
# # S-Ins to null
# "\033[200~": ""
