.gitattributes !filter !diff
*.env filter=git-crypt diff=git-crypt
*.key filter=git-crypt diff=git-crypt
config/.config/aws/config filter=git-crypt diff=git-crypt
config/.config/aws/credentials filter=git-crypt diff=git-crypt
config/.config/docker/config.json filter=git-crypt diff=git-crypt
config/.config/doctl/config.yaml filter=git-crypt diff=git-crypt
config/.config/gcloud/access_tokens.db filter=git-crypt diff=git-crypt
config/.config/gcloud/credentials.db filter=git-crypt diff=git-crypt
config/.config/gcloud/legacy_credentials/gomez404@gmail.com/.boto filter=git-crypt diff=git-crypt
config/.config/gcloud/legacy_credentials/gomez404@gmail.com/adc.json filter=git-crypt diff=git-crypt
config/.config/geoipupdate/GeoIP.conf filter=git-crypt diff=git-crypt
config/.config/gh/hosts.yml filter=git-crypt diff=git-crypt
config/.config/hub filter=git-crypt diff=git-crypt
config/.config/rclone/rclone.conf filter=git-crypt diff=git-crypt
config/.config/vim/spell/en.utf-8.add filter=git-crypt diff=git-crypt
config/.hue.json filter=git-crypt diff=git-crypt
config/.mc/config.json filter=git-crypt diff=git-crypt
config/.netrc filter=git-crypt diff=git-crypt
config/.oci/* filter=git-crypt diff=git-crypt
config/.oci/.gitignore !filter !diff
config/.ssh/id_android.pub filter=git-crypt diff=git-crypt
config/.ssh/sga_policy filter=git-crypt diff=git-crypt
config/.steampipe/config/*.spc filter=git-crypt diff=git-crypt
config/.terraform.d/credentials.tfrc.json filter=git-crypt diff=git-crypt
