# Git config - Windows
# (Includes Linux config and then overrides)

[include]
	path = config
[credential]
	helper =
	helper = C:/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
[credential "https://github.com"]
	username = eggbean
[core]
	editor = \"C:\\Program Files\\vim\\Current\\vim.exe\"
[mergetool "vimdiff"]
	cmd = \"C:\\Program Files\\vim\\Current\\vim.exe\" -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool "vimdiff"]
	cmd = \"C:\\Program Files\\vim\\Current\\vim.exe\" -d $LOCAL $REMOTE
[gpg]
	program = C:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe
[web]
	browser = chrome
[browser "chrome"]
	path = C:\\Program Files\\qutebrowser\\qutebrowser.exe
[safe]
	directory = *

# vim: set ft=gitconfig :
